@use "color" as *;
@use "typography" as *;
@use "sizes" as *;

$color-text-default: $color-primary-700;
$color-background-default: $color-primary-100;
$color-text-interactive-default: $color-accent-400;
$color-text-interactive-hover: $color-accent-500;

$letter-spacing-loose: 0.16em;

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4; // 16px

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp($size-12, 10vh, $size-13);

$card-body-padding: $size-8;

$container-min-margin-inline: $size-4; // 16px
$container-max-width: 64rem; // 960px
$container-max-width-narrow: 40rem; // 960px
$container-max-width-wide: 75rem; // 1200px
