@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$active-theme: $light;

$color-text-default: $color-primary-700;
$color-background-default: $color-primary-100;
$color-background-odd-section: $color-primary-200;
$color-text-interactive-default: $color-accent-400;
$color-text-interactive-hover: $color-accent-500;
$color-text-interactive-white: $color-neutral-100;
$color-text-interactive-accent-hover: $color-accent-300;

$letter-spacing-loose: 0.16em;

$flow-spacer-small: $size-2;

// border-radius
$border-radius-1: $size-2;
$border-radius-2: $size-4;

// shadows
$box-shadow-1: 0 $size-1 $size-4 rgb(0 0 0 / 0.05);
$box-shadow-2: 0 $size-1 $size-4 rgb(0 0 0 / 0.15);

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

// section
$section-odd-background-color: $color-background-odd-section;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-accent;
$heading-color-default: $body-text-color;
$heading-font-weight: $font-weight-bold;
$heading-letter-spacing: $letter-spacing-loose;
$heading-line-height: 1;
$heading-text-transform: uppercase;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4; // 16px

$hero-padding-block: clamp(15rem, 15vh, 20rem);

//section
$section-padding-block: clamp($size-12, 10vh, $size-13);
$section-padding-small-block: $size-8; // 32px

$section-sub-heading-font-size: $font-size-600;
$section-sub-heading-margin-block-start: 1.3125rem;

$card-body-padding: $size-8;

$container-min-margin-inline: $size-4; // 16px
$container-max-width: 64rem; // 960px
$container-max-width-narrow: 43rem; // 688px
$container-max-width-wide: 75rem; // 1200px

// logo
$logo-fill-default: $color-primary-400;
$logo-fill-header: $color-primary-300;
$logo-fill-footer: $color-primary-400;
$logo-size-default: 15rem;
$logo-size-header: $logo-size-default;
$logo-size-footer: $logo-size-default;

// header
$header-layout-alignment: start;
$header-layout-justification: space-between;
$header-title-font-size: $font-size-500;
$header-title-color: $color-primary-300;
$header-background-color: $color-primary-800;
$header-padding: $size-8 0;

// navbar
$navbar-item-font-size: $font-size-400;
$navbar-spacing: $size-9;
$navbar-justification: center;

// prices
$prices-item-base-width: 13rem;
$prices-grid-row-gap: 3.75rem;
$prices-grid-column-gap: 7.5rem;
$prices-item-list-margin-block-start: 3.75rem;
$prices-item-list-medium-margin-inline: 3.44rem;
$prices-item-medium-first-column-width: 12.56rem;
$prices-item-medium-second-column-width: 15.1875rem;
$prices-item-flow-spacer: $flow-spacer-small;

// hours
$hours-sub-heading-font-size: $section-sub-heading-font-size;
$hours-sub-heading-margin-block-start: $section-sub-heading-margin-block-start;

// appointment
$appointment-sub-heading-font-size: $section-sub-heading-font-size;
$appointment-sub-heading-margin-block-start: $section-sub-heading-margin-block-start;

// footer
$footer-background-color: $color-primary-800;
$footer-padding: 1.94rem 1.81rem;
$footer-content-color: $color-primary-300;
$footer-tel-font-family: $font-family-accent;
$footer-tel-weight: $font-weight-bold;
$footer-tel-letter-spacing: $letter-spacing-loose;

// buttons
$button-font-family: $body-font-family;
$button-font-size: $font-size-600;
$button-font-weight: $font-weight-bold;
$button-text-transform: none;
$button-padding: 0.5714em 1.5238em;
$button-border: 0;
$button-border-radius: $border-radius-1;

$button-accent-color: $color-neutral-100;
$button-accent-background: $color-accent-400;
$button-accent-color-hover: $color-neutral-100;
$button-accent-background-hover: $color-accent-500;

$button-primary-color: $color-neutral-100;
$button-primary-background: $color-primary-700;
$button-primary-color-hover: $color-neutral-100;
$button-primary-background-hover: $color-primary-800;

// cards
$card-flow-spacing: $size-2;
$card-body-padding: $size-8;
$card-background-default: $body-background-color;
$card-border-radius: $border-radius-2;
$card-box-shadow: $box-shadow-1;
$card-color-default: $color-primary-700;
$card-font-family: $body-font-family;
$card-line-height: 1.25;
$card-heading-color-default: $card-color-default;
$card-heading-font-size: $font-size-600;

$secondary-card-heading-color: $color-primary-400;

// hours cards
$hours-card-heading-font-size: $font-size-700;
$hours-card-heading-color: $secondary-card-heading-color;
$hours-card-content-margin-block-start: $flow-spacer-small;
$hours-card-content-font-size: $font-size-500;

// pricing cards
$pricing-card-heading-font-size: $font-size-650;
$pricing-card-heading-color: $secondary-card-heading-color;
$pricing-card-content-color: $color-primary-700;
$pricing-card-content-font-size: $font-size-500;

// inputs
$input-border-radius: $border-radius-1;
$input-border: 3px solid $color-primary-200;
$input-border-color-focus: $color-accent-400;

// forms
$form-input-width: 18.75rem;
$form-input-height: 3.125rem;
$form-input-padding: 0.8125rem;
$form-input-placeholder-color: $color-primary-200;
$form-submit-font-size: $font-size-600;

// form fields
$form-field-label-font-size: $font-size-400;
$form-field-label-font-weight: $font-weight-bold;
