@use "../abstracts" as *;

.form {
    display: flex;
    flex-direction: column;
    @include mq("medium") {
        --flow-spacer: 1.63rem;
    }
    &__field-list {
        --grid-column-gap: 1.8rem;
        --grid-row-gap: 0.75rem;
    }
    &__field {
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        --flow-spacer: 0.13rem;
    }

    &__field-label {
        font-size: $form-field-label-font-size;
        font-weight: $form-field-label-font-weight;
        span {
            font-weight: $font-weight-default;
        }
    }

    &__submit {
        width: $form-input-width;
        height: $form-input-height;
        font-size: $form-submit-font-size;
        margin-inline-start: calc(calc(100% - $form-input-width) / 2);
        padding: 0.75rem 2rem;
        justify-content: center;
        align-items: center;
        @include mq("medium") {
            width: unset;
            margin-inline-start: auto;
            margin-inline-end: calc(calc(100% - ($form-input-width * 2)) / 4);
        }
    }

    .input {
        width: $form-input-width;
        height: $form-input-height;
        padding: $form-input-padding;
        &::placeholder {
            color: $form-input-placeholder-color;
        }
    }
}
