@use "../abstracts/" as *;

.prices {
    text-align: center;

    &__list {
        --grid-base-width: #{$prices-item-base-width};
        --grid-gap: #{$prices-grid-row-gap};
        --grid-column-gap: #{$prices-grid-column-gap};
        --flow-spacer: #{$prices-item-list-margin-block-start};
        @include mq("medium") {
            margin-inline: $prices-item-list-medium-margin-inline;
            grid-template-columns: $prices-item-medium-first-column-width $prices-item-medium-second-column-width;
        }
    }

    &__item {
        --flow-spacer: #{$prices-item-flow-spacer};
    }
}

.price {
    &__heading {
        @include heading(
            $pricing-card-heading-font-size,
            $pricing-card-heading-color
        );
    }

    &__value {
        font-size: $pricing-card-content-font-size;
        color: $pricing-card-content-color;
        font-weight: $font-weight-bold;
    }
}
